

.battle_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vw;
    max-height: 100vw;
    width: 100vw;
    /* background-color: #f8b16f;  */
    background-color: #003A70; 
    font-family: Arial, sans-serif;
  }
  
  .title {
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    font-weight: bold;
    color: #FFCB05;
    margin-bottom: 20px;
  }
  
  .pokemon_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .pokemon_card {
    /* background-color: #f5c1c1; */
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 15px;
    width: 200px;
    text-align: center;
    transition: transform 0.5s ease-in-out;
  }

  .pokemon_card:hover {
    transform: translateY(-10px);
  }
  
.selected {
  border: 2px solid #007bff;
  transform: scale(1.05);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

  
  .pokemon_image {
    width: 120px;
    height: 120px;
    margin-bottom: 15px;
    object-fit: contain;
  }
  
  .pokemon_name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #003A70;
    margin-bottom: 10px;
  }
  
  .pokemon_info {
    font-size: 1rem;
    color: #3D7DCA;
    margin: 5px 0;
  }
  
  .pokemon_card.selected{
    border: 2px solid hsl(264, 44%, 17%);
    background-color: #ffaaaa;
    transform: scale(1.05);
    transition: all 0.4s ease;

  }

  .start_battle_button{
    /* background-color: #003a7080  ; */
    background-color: #FFCB05;
    color: #fefefe  ;
    border: none;
    border-radius: 10px;
    font-size: 0.9rem;
    font-weight: bold;
    font-family: 'Press Start 2P', cursive;
    padding: 10px 20px;
    margin: 20px 0;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  }

  .start_battle_button:hover{
    background-color: #2d7ad9;
    color: #FEFEFE;
    transform: scale(1.05);
  }

  .start_battle_button:disabled{
    background-color: hsla(209, 65%, 14%, 0.502);
    color: hsla(207, 47%, 81%, 0.502);
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
  }

 
  .reset_battle_button{
    /* background-color: #003a7080  ;
    color: #fefefe  ; */
    background-color: #FFCB05;
    color: #fefefe ;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 20px 0;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    font-family: 'Press Start 2P', cursive;
    /* border: #FFCB05 solid 2px; */


  }

  .reset_battle_button:hover{
    background-color: #2d7ad9;
    color: #FEFEFE;
    transform: scale(1.05);
  }


  .battle_grid{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    animation: fadeInUp 1s ease-in-out;
  }

  .player_column, .oponnent_column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
    justify-items: center;
  }

  .battle_result{
    background-color: #70a7eb20;
    padding: 20px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 1.2rem;
    animation: fadeInUp 0.8s ease;
    white-space: pre-line;
    text-align: center;
  }

  .battle_result_text{
    color: #FEFEFE;
    padding: 5px;
  }

  @keyframes enterFromLeft {
    from {
      opacity: 0;
      transform: translateX(-100px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes enterFromRight {
    from {
      opacity: 0;
      transform: translateX(100px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .player_colum {
    animation: enterFromLeft 1s ease-out;
  }
  
  .oponnent_colum {
    animation: enterFromRight 1s ease-out;
  }


  .battle_result::before {
    content: "⚔️ ";
    font-size: 1.5rem;
    display: inline-block;
    margin-right: 10px;
  }
  
  .hp_bar {
    width: 100%;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 8px;
  }
  
  .hp_fill {
    height: 100%;
    background-color: green;
    transition: width 0.5s ease-in-out;
    border-radius: 5px;
  }
  